@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    background-color: rgb(85, 0, 134);
}

.main{
    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
}

.newtask{
    background-color: #fff;
    box-shadow: 0 0 4px rgb(247, 2, 255);
    padding: 0.7rem;
    max-width: 400px;
    border-radius: 1rem;
    margin-top: 1rem;
}

.taskslist{
    background-color: #fff;
    padding: 0.7rem;
    display: block;
    min-width: 350px;
    max-width: 400px;
    max-height: 500px;
    margin-top: 1.2rem;
    overflow:scroll;
    visibility: hidden;
}

.invisible{
    display: none;
}

#tasktext{
    width: 200px;
    height: 60px;
    text-align: center;
    border: 2px solid rgb(221, 12, 141);
    border-radius: 1rem;
    outline: none;
    resize: none;
    padding: 1rem;
}

#tasktext:focus{
    border-color: rgb(255, 0, 157);
    box-shadow: 0 0 4px rgb(255, 0, 157);;
}

#btn-addtask{
    height: 60px;
    width: 120px;
    border-radius: 1rem;
    background-color: rgb(221, 12, 141);
    border: 2px solid rgb(243, 28, 161);
    color: #fff;
    font-size: 1.095rem;
    font-weight: bold;
    cursor: pointer;
}

.popup{
    position: absolute;
    width: 250px;
    height: 120px;
    top: 20%;
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    border: 1.5px solid #000;
}

.popup > p{
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}

#btn-popup{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    outline: none;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

.tlvisible{
    visibility: visible;
}

.task{
    background-color: #c8c8c8;
    border-radius: 1rem;
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 0.5fr;
    margin: 1rem auto;
    padding: 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 8px #000;
}

.task > p{
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 28ch;
    overflow-wrap: break-word;
    pointer-events: none;
}

.btn-task{
    float: right;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.completed{
    text-decoration: line-through;
    color: rgb(139, 132, 132);
}